<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fusion settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.homeschooldev.fusion/enabled</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.homeschooldev.fusionsettings</string>
			<key>icon</key>
			<string>enabled.png</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>HSPluginSettings</string>
			<key>id</key>
			<string>Plugins</string>
			<key>isController</key>
			<string>1</string>
			<key>icon</key>
			<string>networks.png</string>
			<key>label</key>
			<string>Networks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>HSQuickCompose</string>
			<key>isController</key>
			<integer>1</integer>
			<key>icon</key>
			<string>quickcompose.png</string>
			<key>label</key>
			<string>Quick Compose</string>
		</dict>
		<dict>
			<key>id</key>
			<string>SiriGap</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string>Siri</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HSFusionSiriController</string>
			<key>isController</key>
			<string>1</string>
			<key>icon</key>
			<string>furi.png</string>
			<key>label</key>
			<string>Siri</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>label</key>
			<string>Extras</string>
			<key>detail</key>
			<string>HSExtrasController</string>
			<key>isController</key>
			<string>1</string>
			<key>icon</key>
			<string>extras.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>id</key>
			<string>group1</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>followme.png</string>
			<key>label</key>
			<string>Follow Home School Dev</string>
		</dict>
		<dict>
			<key>action</key>
			<string>website:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>website.png</string>
			<key>label</key>
			<string>Website</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>contact.png</string>
			<key>label</key>
			<string>Contact</string>
			<key>action</key>
			<string>contact:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>donate.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fusion © 2012 Home School Dev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Fusion</string>
</dict>
</plist>
