Package: com.homeschooldev.flickr
Name: Flickr
Depends: firmware (>= 5.0), com.homeschooldev.fusion
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome fusion plugin!
Maintainer: Home School Dev
Author: Home School Dev
Section: Addons (Fusion)
Tag: role::developer
