Package: com.homeschooldev.TwitterPlugin
Name: TwitterPlugin
Depends:  
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Fusion plugin!
Maintainer: Home School Dev
Author: Home School Dev
Section: System
Tag: role::developer
